#resultElement {
	color: red;
	font-size: 2em;
}
#level {
	padding: 0px;
	margin: 0px;
	font-weight: bolder;
}
#gold {
	padding: 0px;
	margin: 0px;
	font-weight: bolder;
}
.headerInfo {
	color: green;
}
#statusHeader {
	
	border: solid;
	
} 
#box-container {
	position: relative;

}
#box-container:before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.2;
	background-image: url('images/backimg.png');
	background-size: cover;
}
#scoreContainer {
	display: none;
}
#scenario {
	font-weight: bold;
}
#score {
	font-size: 2em;
	font-weight: bold;
}